{% extends "base.html" %}
{% block title %}{{ t("tag_mappings.title") }} - {{ t("app.name") }}{% endblock %}
{% block page_title %}{{ t("tag_mappings.title") }}{% endblock %}
{% block content %}
<div class="page-header">
  <div>
    <h1>{{ t("tag_mappings.title") }}</h1>
    <p>{{ t("tag_mappings.description") }}</p>
  </div>
  <a class="btn-link" href="/ui/settings">{{ t("nav.back_to_settings") }}</a>
</div>

<div class="card">
  {% include "partials/tag_mapping_form.html" %}
</div>

<div class="card">
  {% include "partials/tag_mapping_table.html" %}
</div>
{% endblock %}
